@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");


body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/* Styling of the dashboard title */

h1 {
    margin: 0;
    font-weight: 300;
}

/* Styles for tiles/cards */

.tile-s1, .tile-s2 {
    max-width: 45rem;
}

.tile-s3 {
    max-width: 70rem;
}

/* Card titles styled to uppercase */

.card-header {
    text-transform: uppercase;
}

/* Region selector menu styling */

#region-selector {
    margin-top: 10px;
    margin-bottom: 10px;
}

#region-selector select {
    background: #5d6b78;
    border: #445360;
    color: #ebebeb;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}

/* Select menu styling to match bootstrap theme */

select {
    background: #4e5d6c;
    color: #ebebeb;
}

/* Number box font size increased to make it more prominent */

.number-box span {
    font-size: 1.5rem;
}

/* Shadow added to the chart tiles */

.shadow-box {
    -webkit-box-shadow: 4px 4px 7px 0px rgba(61, 78, 94, 1);
    -moz-box-shadow: 4px 4px 7px 0px rgba(61, 78, 94, 1);
    -o-box-shadow: 4px 4px 7px 0px rgba(61, 78, 94, 1);
    -ms-box-shadow: 4px 4px 7px 0px rgba(61, 78, 94, 1);
    box-shadow: 4px 4px 7px 0px rgba(61, 78, 94, 1);
}

/* Charts styling to fix the issue of responsiveness */

#composite-hour,
#composite-month {
    height: 300px;
    width: 750px;
}

#severity-distribution {
    height: 360px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 1200px) {
    .tile-s2 {
        max-height: 25rem;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 1.9rem;
    }
    
    #stacked-chart {
        max-width: 70rem;
    }
}

@media only screen and (max-width: 992px) {
    .card-header {
        font-size: 0.80rem;
    }

    .number-box span {
        font-size: 1.2rem;
    }

}

/* media query created to make number display element look better, to add more space between the chart and the number */

@media only screen and (max-width: 768px) {

    .number-box span {
        font-size: 1.5rem;
    }

    .card-header {
        font-size: 0.7rem;
    }

}

/* Adjustments to font sizes to avoid line break */

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    /* height adjusted to reduce space at top and the bottom of the chart (within the card) */
    #composite-hour,
    #composite-month {
        height: 120px;
    }
}

@media only screen and (max-width: 375px) {
    #severity-distribution {
        height: 250px;
    }
}
